/*body{
  background-color: #525252;
}
.centered-form{
  margin-top: 60px;
  width: 100%;
}

.centered-form .panel{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
div.panel.panel-default{  width: 100%;
}
*/
.table.table-striped{
  margin-top: 7%;
}
.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 11px;
  margin-right: .75rem;
}
