<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div>
<ul class="nav nav-pills nav-fill">

  <li class="dropdown" routerLinkActive="active">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Parc </a>
    <ul class="dropdown-menu">
      <li class="col-sm-5">
        <ul class="nav nav-pills nav-fills">
          <li><a class="nav-link" routerLink="/ordinateurs"  >Ordinateur</a></li>
          <li><a class="nav-link" href="#">Serveur</a></li>
        </ul>
      </li>

      <li class="col-sm-5">
        <ul class="nav nav-pills nav-fills">
          <li ><a class="nav-link" routerLink="/routeurs/listeRouteur">Routeur</a></li>
          <li><a class="nav-link" routerLink="/imprimantes/listeImprimante">Imprimante</a></li>
          <li class="divider"></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link " routerLink="ajouter-reclamation">Réclamation</a>
  </li>

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" href="#">Maintenance</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link disabled" href="#">Administration</a>
  </li>
</ul>
</div>
<router-outlet></router-outlet>


<!--
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="fixed-top">
  <header class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="social-network" >
            <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="waves-effect waves-dark" href="http://www.intercom-technologies.fr/?fbclid=IwAR0QaZIfqQDQ_WyyM-_49aBp8SGIE5kk5-JGYszYUdslSe8Ktt7yxvKvV60"><i class="fa fa-twitter"></i></a></li>
            <li><a class="waves-effect waves-dark" href="http://www.intercom-technologies.fr/?fbclid=IwAR0QaZIfqQDQ_WyyM-_49aBp8SGIE5kk5-JGYszYUdslSe8Ktt7yxvKvV60"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="waves-effect waves-dark" href="http://www.intercom-technologies.fr/?fbclid=IwAR0QaZIfqQDQ_WyyM-_49aBp8SGIE5kk5-JGYszYUdslSe8Ktt7yxvKvV60"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
    <div class="container">
      <a class="navbar-brand" href="index.html" style="text-transform: uppercase;"> INTERCOM-Technologies</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">

          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" href="#">Acceuil
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/Equipements">Parc</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#">Reclamation</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#">Maintenance</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#">Administration</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>

</div>-->
